somnilightA0/node-red-LightAdjust.json
[
  {
    "id": "http-in-get-state",
    "type": "http in",
    "z": "your-flow-id-here",
    "name": "GET /get_state",
    "url": "/get_state",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [["function-get-state"]]
  },
  {
    "id": "function-get-state",
    "type": "function",
    "z": "your-flow-id-here",
    "name": "Get State",
    "func": "const brightness = flow.get(\"brightness\") || 65;\nconst color = flow.get(\"color\") || \"#FFFFFF\";\n\nmsg.payload = {\n  brightness: brightness,\n  color: color\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 100,
    "wires": [["http-response-get"]]
  },
  {
    "id": "http-response-get",
    "type": "http response",
    "z": "your-flow-id-here",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 620,
    "y": 100,
    "wires": []
  },
  {
    "id": "http-in-set-state",
    "type": "http in",
    "z": "your-flow-id-here",
    "name": "POST /set_state",
    "url": "/set_state",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 220,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "your-flow-id-here",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "order": "object",
    "x": 380,
    "y": 220,
    "wires": [["debug-state", "switch-brightness-or-color"]]
  },
  {
    "id": "debug-state",
    "type": "debug",
    "z": "your-flow-id-here",
    "name": "Debug Input",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 220,
    "wires": []
  },
  {
    "id": "switch-brightness-or-color",
    "type": "switch",
    "z": "your-flow-id-here",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "gt", "v": "payload.brightness", "vt": "jsonata" },
      { "t": "gt", "v": "payload.color", "vt": "jsonata" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 390,
    "y": 300,
    "wires": [["function-update-brightness"], ["function-update-color"]]
  },
  {
    "id": "function-update-brightness",
    "type": "function",
    "z": "your-flow-id-here",
    "name": "Update Brightness",
    "func": "let brightness = msg.payload.brightness;\n\nif (typeof brightness !== 'number' || isNaN(brightness)) {\n    return null; // skip if invalid\n}\n\nbrightness = Math.max(0, Math.min(100, Math.round(brightness)));\nflow.set(\"brightness\", brightness);\n\n// Prepare MQTT message\nmsg.topic = \"lamp/brightness\";\nmsg.payload = brightness.toString();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 280,
    "wires": [["mqtt-out", "http-response-set"]]
  },
  {
    "id": "function-update-color",
    "type": "function",
    "z": "your-flow-id-here",
    "name": "Update Color",
    "func": "const color = msg.payload.color;\n\nif (typeof color !== 'string' || !color.startsWith('#')) {\n    return null; // skip if invalid\n}\n\nflow.set(\"color\", color);\n\n// Prepare MQTT message\nmsg.topic = \"lamp/color\";\nmsg.payload = color;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 340,
    "wires": [["mqtt-out", "http-response-set"]]
  },
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "z": "your-flow-id-here",
    "name": "MQTT Publish",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "your-mqtt-broker-config-id",
    "x": 880,
    "y": 320,
    "wires": []
  },
  {
    "id": "http-response-set",
    "type": "http response",
    "z": "your-flow-id-here",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 880,
    "y": 260,
    "wires": []
  },
  {
    "id": "your-mqtt-broker-config-id",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "your-mqtt-broker.com",
    "port": "1883",
    "clientid": "node-red-lamp",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]