backendA0/WHITE NOISE-flows.json
[
    {
        "id": "241984f0ce33e87f",
        "type": "tab",
        "label": "白噪音、震动设置",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70552580d68a2c34",
        "type": "http in",
        "z": "241984f0ce33e87f",
        "name": "",
        "url": "/white-noise",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "0de9a8c7d529ecb2"
            ]
        ]
    },
    {
        "id": "4079aa5e67571d65",
        "type": "http response",
        "z": "241984f0ce33e87f",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json",
            "location": ""
        },
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "0de9a8c7d529ecb2",
        "type": "function",
        "z": "241984f0ce33e87f",
        "name": "function 1",
        "func": "// 白噪音设置功能 \nvar payload = msg.payload;\n\n// 支持的音效类型\nvar validSounds = [\"forest\", \"valley\", \"rain\", \"sea\", \"more\"];\n\n// 从flow读取当前白噪音设置\nvar currentSettings = flow.get(\"white_noise\") || {\n    enabled: false,\n    sound_type: \"rain\",\n    volume: 50,\n    vibration: false,\n    updated_at: null\n};\n\n// 根据HTTP方法判断操作类型\nvar method = msg.req.method; // GET, POST, PUT, DELETE\n\ntry {\n    switch (method) {\n        case \"GET\":\n            // 查询当前设置\n            msg.statusCode = 200;\n            msg.payload = {\n                ok: true,\n                message: \"查询成功\",\n                white_noise: currentSettings\n            };\n            break;\n\n        case \"POST\":\n        case \"PUT\":\n            // 设置白噪音参数\n            var updates = {};\n            var errors = [];\n            \n            // 验证音效类型\n            if (payload.sound_type !== undefined) {\n                if (validSounds.includes(payload.sound_type)) {\n                    updates.sound_type = payload.sound_type;\n                } else {\n                    errors.push(`音效类型必须是以下之一: ${validSounds.join(\", \")}`);\n                }\n            }\n            \n            // 验证音量 (0-100)\n            if (payload.volume !== undefined) {\n                var volume = Number(payload.volume);\n                if (!isNaN(volume) && volume >= 0 && volume <= 100) {\n                    updates.volume = Math.round(volume);\n                } else {\n                    errors.push(\"音量必须是0-100之间的数字\");\n                }\n            }\n            \n            // 验证震动模式\n            if (payload.vibration !== undefined) {\n                if (typeof payload.vibration === \"boolean\") {\n                    updates.vibration = payload.vibration;\n                } else {\n                    errors.push(\"震动模式必须是true或false\");\n                }\n            }\n            \n            // 验证启用状态\n            if (payload.enabled !== undefined) {\n                if (typeof payload.enabled === \"boolean\") {\n                    updates.enabled = payload.enabled;\n                } else {\n                    errors.push(\"启用状态必须是true或false\");\n                }\n            }\n            \n            if (errors.length > 0) {\n                // 参数验证失败\n                msg.statusCode = 400;\n                msg.payload = {\n                    ok: false,\n                    error: \"参数验证失败\",\n                    details: errors\n                };\n            } else {\n                if (Object.keys(updates).length === 0) {\n                    // 没有提供任何更新参数\n                    msg.statusCode = 400;\n                    msg.payload = {\n                        ok: false,\n                        error: \"请提供要更新的参数: enabled, sound_type, volume, vibration\"\n                    };\n                } else {\n                    // 合并更新\n                    var newSettings = {\n                        ...currentSettings,\n                        ...updates,\n                        updated_at: new Date().toLocaleString(\"zh-CN\", { hour12: false })\n                    };\n                    \n                    // 保存到flow\n                    flow.set(\"white_noise\", newSettings);\n                    \n                    msg.statusCode = 200;\n                    msg.payload = {\n                        ok: true,\n                        message: \"白噪音设置已更新\",\n                        white_noise: newSettings\n                    };\n                }\n            }\n            break;\n\n        case \"DELETE\":\n            // 重置为默认设置\n            var defaultSettings = {\n                enabled: false,\n                sound_type: \"rain\",\n                volume: 50,\n                vibration: false,\n                updated_at: new Date().toLocaleString(\"zh-CN\", { hour12: false })\n            };\n            \n            flow.set(\"white_noise\", defaultSettings);\n            \n            msg.statusCode = 200;\n            msg.payload = {\n                ok: true,\n                message: \"白噪音设置已重置为默认值\",\n                white_noise: defaultSettings\n            };\n            break;\n\n        default:\n            // 不支持的HTTP方法\n            msg.statusCode = 405;\n            msg.payload = {\n                ok: false,\n                error: \"不支持的HTTP方法，请使用GET、POST、PUT或DELETE\"\n            };\n    }\n} catch (error) {\n    // 服务器内部错误\n    msg.statusCode = 500;\n    msg.payload = {\n        ok: false,\n        error: \"服务器内部错误\",\n        details: error.message\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "4079aa5e67571d65"
            ]
        ]
    },
    {
        "id": "a92dfcf7d25dc9fa",
        "type": "http in",
        "z": "241984f0ce33e87f",
        "name": "",
        "url": "/white-noise",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "0de9a8c7d529ecb2"
            ]
        ]
    },
    {
        "id": "500fdcc36c64ac7b",
        "type": "http in",
        "z": "241984f0ce33e87f",
        "name": "",
        "url": "/white-noise",
        "method": "put",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "0de9a8c7d529ecb2"
            ]
        ]
    },
    {
        "id": "09dca9ec7d7b021f",
        "type": "http in",
        "z": "241984f0ce33e87f",
        "name": "",
        "url": "/white-noise",
        "method": "delete",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "0de9a8c7d529ecb2"
            ]
        ]
    }
]